<nav class="z-depth-2">
    <div class="nav-wrapper">
      <!--a href="#!" class="brand-logo">Super Hogar</a-->
      <img src="assets/images/logo.gif" class="brand-logo">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Inicio</a></li>
        <li><a href="badges.html">Productos</a></li>
        <li><a href="https://www.zonapagos.com/t_comercializadorasuperhogar">Pagos PSE</a></li>
        <li><a routerLink= '/nosotros'>Nosotros</a></li>
        <li><a routerLink='/contactanos'>Contacto</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Incio</a></li>
    <li><a href="badges.html">Productos</a></li>
    <li><a href="https://www.zonapagos.com/t_comercializadorasuperhogar">Pagos PSE</a></li>
    <li><a routerLink= '/nosotros'>Nosotros</a></li>
    <li><a routerLink='/contactanos'>Contacto</a></li>
  </ul>
  
   
   