<!--section class="hero">
    <nav>
        <div class="nav-wrapper">
            <img *ngIf="!userLogged && rol!=3 && rol!=2 && rol!=1" class="brand-logo" routerLink="/home" src="assets/images/logo.gif">
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
          </ul>
        </div>
      </nav>
    
      <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    <div class="hero-inner">
        
        <h1>MY HOUSE</h1>
        <h2>The best place for my family</h2>
        <<a routerLink="/home" class="btn blue">Hotels</a> &nbsp;&nbsp;
        <a routerLink="/security/login" class="btn blue">Login!</a>>
    </div>
</section-->

